@keyframes header-ani {
    from{
        top: 0px;
    }

    to{
        top: -100px;
    }
}

header{
    position: sticky;

    animation: header-ani 1ms ease-in-out;
    animation-timeline: scroll();
}

@keyframes fadePage {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes main-text {
    from{
        top: 0px;
    }

    to{
        top: 100px;
    }
}

main #sobre .box-text, main #sobre a{
    position: relative;

    animation: main-text 1ms ease-in-out;
    animation-timeline: view();
}

.page-exit{
    animation: pageExit .35s ease forwards;
}

@keyframes pageExit{
    from{
        opacity:1;
        transform:translateY(0);
    }

    to{
        opacity:0;
        transform:translateY(-15px);
    }
}